
.button-sidebar .button-sidebar-sub {
  width: auto;
  height: auto;
  overflow: hidden;
  display: inline-block;
  margin-top: 2%;
}
.button-auto p {
  font-size: 28px;
  font-weight: 600;
  margin: 28px 0px;
}
.logo-pioneer img {
  max-width: 90%;
  max-height: 90%;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar .button-sidebar {
    font-size: 18px;
  }
}
/* switch box */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.3s;
  box-shadow: 0 0 3px rgb(63, 60, 60);
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider0 {
  background-color: rgb(108, 126, 22);
}
.slider1 {
  background-color: #0084ce;
}
.slider2 {
  background-color: #0084ce;
}
.slider3 {
  background-color: #ff0000;
}
.slider4 {
  background-color: #ffc90b;
}
.slider4:before,
.slider3:before,
.slider2:before,
.slider1:before,
.slider0:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.on {
}
/* Rounded sliders */
.slider.round {
  border-radius: 45px;
}

.slider.round:before {
  border-radius: 100%;
}
/* end switch box */
/* chart */

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1.2em;
}
#svg #bar {
  stroke: #0084ce;
}
#cont {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: relative;
  margin-top: -1%;
  font-weight: 440;
}
#cont:after {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  line-height: 200px;
  width: 200px;
  text-align: center;
  content: attr(data-pct) "";
  /* border-radius: %00%; */
  font-size: 2em;
  /* text-shadow: 0 0 0.5em #0084ce; */
}

input {
  width: 20%;
  color: rgb(129, 22, 22);
  font-size: 1em;
  border-radius: 0;
}

.chart-humSoil,
.chart-humAir,
.chart-tempAir,
.chart-light {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 0 30px;
  cursor: pointer;
}
.chart-humSoil {
  color: #0084ce;
}
.chart-humAir {
  color: #0084ce;
}
.chart-tempAir {
  color: #ff0000;
}
.chart-light {
  color: #ffc90b;
}

/* Make things perty */

/* enc chart */
.modal {
  align-items: center;
  justify-content: center; */
}

.modal.open {
  display: flex;
  animation: modalOpen ease 0.5s;
}
.modal.close {
  display: flex;
  animation: modalclose ease 0.5s;
}
/* .modal-container.open {
  animation: modal-containerFaceIn ease 0.5s;
}
.modal-container.close {
  animation: modal-containerclose ease 0.5s;
} */
.modal-container {
  background-color: white;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 500px;
  position: relative;
}

@keyframes modal-containerFaceIn {
  from {
    transform: translateY(-300px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modal-containerclose {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-300px);
    opacity: 0;
  }
}
@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalOpen {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
